body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    color: #333;
}
nav ul {
    list-style-type: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #f4f4f4;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
header {
    margin-top: 40px;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}